In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd


invoice       = pd.read_parquet("dataset_creados\\invoice.parquet")
invoice_line  = pd.read_parquet("dataset_creados\\invoiceLine.parquet")
partner       = pd.read_parquet("dataset_creados\\partner.parquet")
product       = pd.read_parquet("dataset_creados\\product.parquet")
payment       = pd.read_parquet("dataset_creados\\payment.parquet")
payment_app   = pd.read_parquet("dataset_creados\\paymentApplication.parquet")

print("Tablas cargadas correctamente.")

Tablas cargadas correctamente.

In [9]:
hoy = pd.Timestamp.now()
filtro["dias"] = (hoy-filtro["due_date"]).dt.days

#agrupamos por días 

etiquetas = ["0–30", "31–60", "61–90", ">90 días"]
lista = []

for i in filtro["dias"]:
    if  i >=0 and i < 30:
        lista.append(etiquetas[0])
    elif i >= 30 and i <= 60:
        lista.append(etiquetas[1])
    elif i > 60 and i <= 90:
        lista.append(etiquetas[2])
    else:
        lista.append(etiquetas[3])


filtro["butcket"] = lista
filtro

C:\Windows\Temp\ipykernel_1156\2182986086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro["dias"] = (hoy-filtro["due_date"]).dt.days
C:\Windows\Temp\ipykernel_1156\2182986086.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro["butcket"] = lista

,id,partner_id,currency_id,invoice_type,invoice_date,due_date,total_amount,invoice_id,amount_paid,remaining_balance,payment_state,dias,butcket
5,6,14,1,out,2025-08-10 10:29:00.900991,2025-08-28 10:29:00.900991,10400,6.0,6448.0,3952.0,partial,80,61–90
7,8,29,2,out,2025-06-13 10:29:00.900991,2025-07-12 10:29:00.900991,4138,NaN,0.0,4138.0,unpaid,127,>90 días
10,11,2,2,out,2025-10-20 10:29:00.900991,2025-11-15 10:29:00.900991,7280,11.0,1670.0,5610.0,partial,1,0–30
12,13,13,1,out,2024-09-02 10:29:00.900991,2024-10-18 10:29:00.900991,4130,13.0,1097.0,3033.0,partial,394,>90 días
13,14,27,2,out,2024-11-20 10:29:00.900991,2025-01-01 10:29:00.900991,1708,14.0,1312.0,396.0,partial,319,>90 días
...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,294,31,1,out,2025-05-03 10:29:00.900991,2025-05-26 10:29:00.900991,12198,294.0,1216.0,10982.0,partial,174,>90 días
295,296,10,2,out,2024-12-13 10:29:00.900991,2025-01-18 10:29:00.900991,14225,296.0,2942.0,11283.0,partial,302,>90 días
296,297,3,1,out,2025-09-17 10:29:00.900991,2025-11-12 10:29:00.900991,10425,297.0,1028.0,9397.0,partial,4,0–30
297,298,14,2,out,2024-11-12 10:29:00.900991,2024-12-22 10:29:00.900991,3296,NaN,0.0,3296.0,unpaid,329,>90 días
299,300,10,2,out,2025-09-15 10:29:00.900991,2025-10-16 10:29:00.900991,7280,NaN,0.0,7280.0,unpaid,31,31–60

In [10]:
agrupado = filtro.groupby("butcket")["remaining_balance"].sum()
agrupado


vencidos_buckets = ["31–60", "61–90", ">90 días"]

saldo_vencido = agrupado.loc[vencidos_buckets].sum()
saldo_total = agrupado.sum()

porcentaje_vencido = (saldo_vencido / saldo_total) * 100
porcentaje_vencido

np.float64(94.39802233715349)

In [11]:
vencidos = filtro[filtro["dias"] > 0]

top10 = (
    vencidos.groupby("partner_id")["remaining_balance"].sum().sort_values(ascending=False).head(10)
)

top10

partner_id
17    61277.0
20    46548.0
15    43096.0
36    42239.0
29    42139.0
6     39566.0
33    39520.0
10    36589.0
14    35794.0
7     32839.0
Name: remaining_balance, dtype: float64

In [12]:
#excluimos a los ultimos 3 días 

vencidos_buckets = ["31–60", "61–90", ">90 días"]

saldo_vencido = agrupado.loc[vencidos_buckets].sum()
saldo_total = agrupado.sum()

porcentaje_vencido = (saldo_vencido / saldo_total) * 100
porcentaje_vencido

np.float64(94.39802233715349)

In [13]:
vencidos = filtro[filtro["dias"] > 0]

top10 = (
    vencidos.groupby("partner_id")["remaining_balance"].sum().sort_values(ascending=False).head(10)
)

top10

partner_id
17    61277.0
20    46548.0
15    43096.0
36    42239.0
29    42139.0
6     39566.0
33    39520.0
10    36589.0
14    35794.0
7     32839.0
Name: remaining_balance, dtype: float64

In [14]:
#CREAMOS UNA COLUMNA PARA PODER VALIR SI TANTO COMO STATUS COMO REMAIN BALANCE ETÁN CORRECTAMENTE INGRESADOS

errores_pago = filtro[
    (filtro["payment_state"] == "paid") &
    (filtro["remaining_balance"] > 0)
]

errores_pago

Empty DataFrame
Columns: [id, partner_id, currency_id, invoice_type, invoice_date, due_date, total_amount, invoice_id, amount_paid, remaining_balance, payment_state, dias, butcket]
Index: []

ESTA ES LAS ECCION DE FLUJOS DE CAJA

In [15]:
# Facturas OUT
facturas_out = data_invoice[
    (data_invoice["invoice_type"] == "out") &
    (data_invoice["remaining_balance"] > 0)
].copy()
hoy = pd.Timestamp.today()
semanas = pd.date_range(hoy, periods=9, freq="W")




facturas_out["semana"] = "*"


for i in range(1, 9):
    inicio = semanas[i-1]
    fin = semanas[i]
    
    facturas_out.loc[
        (facturas_out["due_date"] >= inicio) &
        (facturas_out["due_date"] < fin),
        "semana"
    ] = f"Semana {i}"
entradas = (
    facturas_out.groupby("semana")["remaining_balance"].sum().reset_index().rename(columns={"remaining_balance": "entrada"})
)

entradas

     semana   entrada
0         *  878043.0
1  Semana 1    9833.0
2  Semana 2    8956.0
3  Semana 5    7982.0
4  Semana 7    2661.0

In [16]:
facturas_in = data_invoice[
    (data_invoice["invoice_type"] == "in") &
    (data_invoice["remaining_balance"] > 0)
].copy()

facturas_in["semana"] = "*"

for i in range(1, 9):
    inicio = semanas[i-1]
    fin = semanas[i]
    
    facturas_in.loc[
        (facturas_in["due_date"] >= inicio) &
        (facturas_in["due_date"] < fin),
        "semana"
    ] = f"Semana {i}"
salidas = (
    facturas_in.groupby("semana")["remaining_balance"]
    .sum()
    .reset_index()
    .rename(columns={"remaining_balance": "salida"})
)
salidas

     semana     salida
0         *  1066712.0
1  Semana 1    18896.0
2  Semana 2      178.0
3  Semana 3     6046.0
4  Semana 4     1256.0

In [19]:
flujo = entradas.merge(salidas, on="semana", how="outer")
flujo = flujo.fillna(0) 

flujo["neto"] = flujo["entrada"] - flujo["salida"]

flujo


hoy = pd.Timestamp.today()
limite_30 = hoy + pd.Timedelta(days=30)

cxc_corriente = data_invoice[
    (data_invoice["invoice_type"] == "out") &
    (data_invoice["remaining_balance"] > 0) &
    (data_invoice["due_date"] >= hoy) &
    (data_invoice["due_date"] <= limite_30)
]["remaining_balance"].sum()

cxc_corriente
entradas_30 = facturas_out[
    (facturas_out["due_date"] >= hoy) &
    (facturas_out["due_date"] <= limite_30)
]["remaining_balance"].sum()


cxc_corriente, entradas_30

(np.float64(18789.0), np.float64(18789.0))

AHORA CALCULAMOS LAS GANANCIAS

In [21]:
data_invoice = pd.read_parquet("dataset_creados/Invoice.parquet")
data_invoice_line = pd.read_parquet("dataset_creados/InvoiceLine.parquet")
data_product = pd.read_parquet("dataset_creados/Product.parquet")
data_partner = pd.read_parquet("dataset_creados/Partner.parquet")

In [24]:
data_invoice

,id,partner_id,currency_id,invoice_type,invoice_date,due_date,total_amount,invoice_id,amount_paid,remaining_balance,payment_state
0,1,39,1,in,2025-02-12 10:29:00.900991,2025-02-07 10:29:00.900991,4324,1.0,93.0,4231.0,partial
1,2,31,2,in,2025-09-30 10:29:00.900991,2025-11-17 10:29:00.900991,14616,2.0,3264.0,11352.0,partial
2,3,18,2,in,2024-12-20 10:29:00.900991,2025-01-11 10:29:00.900991,12480,NaN,0.0,12480.0,unpaid
3,4,36,2,in,2025-03-05 10:29:00.900991,2025-04-09 10:29:00.900991,8585,NaN,0.0,8585.0,unpaid
4,5,2,1,in,2025-10-17 10:29:00.900991,2025-12-04 10:29:00.900991,7796,5.0,1963.0,5833.0,partial
...,...,...,...,...,...,...,...,...,...,...,...
295,296,10,2,out,2024-12-13 10:29:00.900991,2025-01-18 10:29:00.900991,14225,296.0,2942.0,11283.0,partial
296,297,3,1,out,2025-09-17 10:29:00.900991,2025-11-12 10:29:00.900991,10425,297.0,1028.0,9397.0,partial
297,298,14,2,out,2024-11-12 10:29:00.900991,2024-12-22 10:29:00.900991,3296,NaN,0.0,3296.0,unpaid
298,299,16,1,in,2025-01-25 10:29:00.900991,2025-02-20 10:29:00.900991,7395,299.0,1474.0,5921.0,partial
299,300,10,2,out,2025-09-15 10:29:00.900991,2025-10-16 10:29:00.900991,7280,NaN,0.0,7280.0,unpaid

In [26]:
df_producto_invoice = data_invoice_line.merge(
    data_product,
    left_on="product_id",
    right_on="id",
    how="left"
)

df_producto_invoice["margen_unitario"] = df_producto_invoice["price"] - df_producto_invoice["cost_per_unit"]
df_producto_invoice["margen_total"] = df_producto_invoice["margen_unitario"] * df_producto_invoice["quantity"]

df = df_producto_invoice.merge(
    data_invoice[["id", "partner_id", "invoice_type"]],
    left_on="invoice_id",
    right_on="id",
    how="left",
    suffixes=("", "_inv")
) 
df = df[df["invoice_type"] == "out"]

In [28]:
margen_producto = (
    df.groupby("product_id")[["margen_unitario", "margen_total"]]
    .sum()
    .reset_index()
)

margen_producto = margen_producto.merge(
    data_product[["id", "product_name"]],
    left_on="product_id",
    right_on="id",
    how="left"
)

margen_producto

   product_id  margen_unitario  margen_total  id product_name
0           1            35542        168141   1   Producto_1
1           2             -810         -4110   2   Producto_2
2           3           -11988        -47508   3   Producto_3
3           4             1075          4687   4   Producto_4
4           5             4200         21175   5   Producto_5
5           6            11934         50388   6   Producto_6
6           7             -651         -3591   7   Producto_7
7           8            -2175        -11400   8   Producto_8
8           9            13335         71247   9   Producto_9
9          10            -2668        -13616  10  Producto_10

In [29]:
margen_cliente = (
    df.groupby("partner_id")["margen_total"]
    .sum()
    .reset_index()
)


margen_cliente = margen_cliente.merge(
    data_partner[["id", "display_name"]],
    left_on="partner_id",
    right_on="id",
    how="left"
)

margen_cliente

    partner_id  margen_total  id  display_name
0            1         12533   1     Cliente_1
1            2         -2047   2     Cliente_2
2            3         16583   3     Cliente_3
3            4          3049   4     Cliente_4
4            5          2325   5     Cliente_5
5            6          5659   6     Cliente_6
6            7          4907   7     Cliente_7
7            8         -1257   8     Cliente_8
8            9         11778   9     Cliente_9
9           10         23551  10    Cliente_10
10          11          -141  11    Cliente_11
11          13          5648  13    Cliente_13
12          14          4505  14    Cliente_14
13          15         23292  15    Cliente_15
14          16          -375  16    Cliente_16
15          17         12076  17    Cliente_17
16          18          -996  18    Cliente_18
17          19         -3783  19    Cliente_19
18          20          8408  20    Cliente_20
19          21         10393  21    Cliente_21
20          22           233  22    Cliente_22
21          23          -233  23    Cliente_23
22          24         13452  24    Cliente_24
23          25           975  25    Cliente_25
24          26           661  26    Cliente_26
25          27          5656  27    Cliente_27
26          28         -2156  28    Cliente_28
27          29         22663  29    Cliente_29
28          30          4049  30    Cliente_30
29          31          7168  31   Proveedor_1
30          32         10036  32   Proveedor_2
31          33         10233  33   Proveedor_3
32          34         -1332  34   Proveedor_4
33          35          4411  35   Proveedor_5
34          36         14694  36   Proveedor_6
35          37           694  37   Proveedor_7
36          38          8202  38   Proveedor_8
37          39           959  39   Proveedor_9
38          40         -1060  40  Proveedor_10

In [30]:
productos_perdida = margen_producto[margen_producto["margen_total"] < 0]
productos_perdida

   product_id  margen_unitario  margen_total  id product_name
1           2             -810         -4110   2   Producto_2
2           3           -11988        -47508   3   Producto_3
6           7             -651         -3591   7   Producto_7
7           8            -2175        -11400   8   Producto_8
9          10            -2668        -13616  10  Producto_10

In [31]:
clientes_perdida = margen_cliente[margen_cliente["margen_total"] < 0]
clientes_perdida

    partner_id  margen_total  id  display_name
1            2         -2047   2     Cliente_2
7            8         -1257   8     Cliente_8
10          11          -141  11    Cliente_11
14          16          -375  16    Cliente_16
16          18          -996  18    Cliente_18
17          19         -3783  19    Cliente_19
21          23          -233  23    Cliente_23
26          28         -2156  28    Cliente_28
32          34         -1332  34   Proveedor_4
38          40         -1060  40  Proveedor_10

DSO / DPO / DIO / CCC

In [33]:

invoice = pd.read_parquet("dataset_creados/Invoice.parquet")
invoice_line = pd.read_parquet("dataset_creados/InvoiceLine.parquet")
partner = pd.read_parquet("dataset_creados/Partner.parquet")
product = pd.read_parquet("dataset_creados/Product.parquet")
payment = pd.read_parquet("dataset_creados/Payment.parquet")
payment_app = pd.read_parquet("dataset_creados/PaymentApplication.parquet")
exchange = pd.read_parquet("dataset_creados/ExchangeRate.parquet")
journal = pd.read_parquet("dataset_creados/JournalLine.parquet")

In [42]:
import pandas as pd


facturas_out = invoice[invoice["invoice_type"] == "out"].copy()
facturas_in = invoice[invoice["invoice_type"] == "in"].copy()


# 2. UNIR PAGO + PAYMENT APP

pagos_aplicados = payment_app.merge(
    payment,
    left_on="payment_id",
    right_on="id",
    how="left",
    suffixes=("_app", "_pay")
)

# =======================
# 3. DSO 
# =======================
pagos_ventas = pagos_aplicados.merge(
    facturas_out[["id", "invoice_date"]],
    left_on="invoice_id",
    right_on="id",
    how="inner"
)

pagos_ventas["dias_cobro"] = (
    pagos_ventas["payment_date"] - pagos_ventas["invoice_date"]
).dt.days

DSO = pagos_ventas["dias_cobro"].mean()


# 4. DPO )

pagos_compras = pagos_aplicados.merge(
    facturas_in[["id", "invoice_date"]],
    left_on="invoice_id",
    right_on="id",
    how="inner"
)

pagos_compras["dias_pago"] = (
    pagos_compras["payment_date"] - pagos_compras["invoice_date"]
).dt.days

DPO = pagos_compras["dias_pago"].mean()


# 5. DIO 

DIO = 0

# 6. CCC (Cash Conversion Cycle)

CCC = DIO + DSO - DPO

#SERIE MENSUALIZADA (DSO y DPO)

dso_mensual = pagos_ventas.groupby(
    pagos_ventas["payment_date"].dt.to_period("M")
)["dias_cobro"].mean().reset_index()

dso_mensual = dso_mensual.rename(columns={"dias_cobro": "DSO"})

dpo_mensual = pagos_compras.groupby(
    pagos_compras["payment_date"].dt.to_period("M")
)["dias_pago"].mean().reset_index()

dpo_mensual = dpo_mensual.rename(columns={"dias_pago": "DPO"})

# =======================
# 8. ALERTA SI DSO > 90 DÍAS
# =======================
alerta_dso = dso_mensual[dso_mensual["DSO"] > 90]

print("DSO =", DSO)
print("DPO =", DPO)
print("DIO =", DIO)
print("CCC =", CCC)

print("\n--- Serie mensual DSO ---")
display(dso_mensual)

print("\n--- Serie mensual DPO ---")
display(dpo_mensual)

if len(alerta_dso) > 0:
    print(" ALERTA: DSO supera los 90 días en estos meses:")
    display(alerta_dso)
else:
    print("\n✔ DSO OK: No supera los 90 días en ningún mes.")

DSO = 56.19101123595506
DPO = 15.855855855855856
DIO = 0
CCC = 40.3351553800992

--- Serie mensual DSO ---

   payment_date         DSO
0       2023-11 -150.000000
1       2023-12 -365.000000
2       2024-01 -219.800000
3       2024-02 -523.000000
4       2024-03 -176.000000
5       2024-04 -127.400000
6       2024-05 -351.000000
7       2024-06   36.750000
8       2024-07   95.000000
9       2024-08 -150.333333
10      2024-09  -21.500000
11      2024-10   34.500000
12      2024-11   45.750000
13      2024-12   78.333333
14      2025-01   13.200000
15      2025-02  -23.800000
16      2025-03  344.250000
17      2025-04  143.500000
18      2025-05  198.750000
19      2025-06  129.333333
20      2025-07  280.750000
21      2025-08  419.200000
22      2025-09  300.250000
23      2025-10  247.000000
24      2025-11  315.666667

--- Serie mensual DPO ---

   payment_date         DPO
0       2023-11 -358.000000
1       2023-12 -331.200000
2       2024-01 -356.285714
3       2024-02 -252.000000
4       2024-03 -152.857143
5       2024-04 -360.000000
6       2024-05 -136.166667
7       2024-06 -305.000000
8       2024-07  -91.714286
9       2024-08  -80.000000
10      2024-09    3.400000
11      2024-10  148.000000
12      2024-11 -118.166667
13      2024-12 -147.000000
14      2025-01   74.600000
15      2025-02  180.000000
16      2025-03   -0.666667
17      2025-04  273.800000
18      2025-05  294.000000
19      2025-06  469.000000
20      2025-07  183.222222
21      2025-08  259.285714
22      2025-09  485.200000
23      2025-10  431.800000

 ALERTA: DSO supera los 90 días en estos meses:

   payment_date         DSO
8       2024-07   95.000000
16      2025-03  344.250000
17      2025-04  143.500000
18      2025-05  198.750000
19      2025-06  129.333333
20      2025-07  280.750000
21      2025-08  419.200000
22      2025-09  300.250000
23      2025-10  247.000000
24      2025-11  315.666667

5. Panel ejecutivo mensual

In [43]:

# ==============================
# 2. Preparar columnas de periodo (año-mes)
# ==============================
invoice["year_month"] = invoice["invoice_date"].dt.to_period("M")

# ==============================
# 3. Ventas mensuales (solo OUT)
# ==============================
ventas = invoice[invoice["invoice_type"] == "out"].copy()
ventas_mensuales = (
    ventas.groupby("year_month")["total_amount"]
    .sum()
    .reset_index()
    .rename(columns={"total_amount": "ventas"})
)

# ==============================
# 4. Margen mensual (OUT) usando InvoiceLine + Product + Invoice
# ==============================
df = invoice_line.merge(
    product,
    left_on="product_id",
    right_on="id",
    how="left"
)

df["margen_unitario"] = df["price"] - df["cost_per_unit"]
df["margen_total"]    = df["margen_unitario"] * df["quantity"]

df = df.merge(
    invoice[["id", "invoice_date", "invoice_type", "year_month"]],
    left_on="invoice_id",
    right_on="id",
    how="left",
    suffixes=("", "_inv")
)

df_out = df[df["invoice_type"] == "out"].copy()

margen_mensual = (
    df_out.groupby("year_month")["margen_total"]
    .sum()
    .reset_index()
    .rename(columns={"margen_total": "margen"})
)

# ==============================
# 5. AR (cuentas por cobrar) vigentes por mes
#    Facturas OUT con saldo pendiente
# ==============================
ar = invoice[
    (invoice["invoice_type"] == "out") &
    (invoice["remaining_balance"] > 0)
].copy()

ar_mensual = (
    ar.groupby("year_month")["remaining_balance"]
    .sum()
    .reset_index()
    .rename(columns={"remaining_balance": "AR"})
)

# ==============================
# 6. AP (cuentas por pagar) vigentes por mes
#    Facturas IN con saldo pendiente
# ==============================
ap = invoice[
    (invoice["invoice_type"] == "in") &
    (invoice["remaining_balance"] > 0)
].copy()

ap_mensual = (
    ap.groupby("year_month")["remaining_balance"]
    .sum()
    .reset_index()
    .rename(columns={"remaining_balance": "AP"})
)

# ==============================
# 7. Pagos aplicados: base para flujo y DSO/DPO
# ==============================
pagos = payment_app.merge(
    invoice[["id", "invoice_type", "invoice_date"]],
    left_on="invoice_id",
    right_on="id",
    how="left"
).merge(
    payment[["id", "payment_date"]],
    left_on="payment_id",
    right_on="id",
    how="left",
    suffixes=("_inv", "_pay")
)

pagos["year_month"] = pagos["payment_date"].dt.to_period("M")
pagos["dias"] = (pagos["payment_date"] - pagos["invoice_date"]).dt.days

# ==============================
# 8. Flujo neto de caja mensual
#    Entradas: pagos aplicados a OUT
#    Salidas:  pagos aplicados a IN
# ==============================
entradas_mensuales = (
    pagos[pagos["invoice_type"] == "out"]
    .groupby("year_month")["allocated_amount"]
    .sum()
    .reset_index()
    .rename(columns={"allocated_amount": "entradas"})
)

salidas_mensuales = (
    pagos[pagos["invoice_type"] == "in"]
    .groupby("year_month")["allocated_amount"]
    .sum()
    .reset_index()
    .rename(columns={"allocated_amount": "salidas"})
)

flujo_mensual = entradas_mensuales.merge(
    salidas_mensuales,
    on="year_month",
    how="outer"
).fillna(0)

flujo_mensual["flujo_neto"] = flujo_mensual["entradas"] - flujo_mensual["salidas"]

# ==============================
# 9. DSO y DPO mensuales
# ==============================
dso_mensual = (
    pagos[pagos["invoice_type"] == "out"]
    .groupby("year_month")["dias"]
    .mean()
    .reset_index()
    .rename(columns={"dias": "DSO"})
)

dpo_mensual = (
    pagos[pagos["invoice_type"] == "in"]
    .groupby("year_month")["dias"]
    .mean()
    .reset_index()
    .rename(columns={"dias": "DPO"})
)

# ==============================
# 10. Armar el panel ejecutivo mensual
# ==============================
panel_mensual = (
    ventas_mensuales
    .merge(margen_mensual, on="year_month", how="outer")
    .merge(ar_mensual,      on="year_month", how="outer")
    .merge(ap_mensual,      on="year_month", how="outer")
    .merge(flujo_mensual,   on="year_month", how="outer")
    .merge(dso_mensual,     on="year_month", how="outer")
    .merge(dpo_mensual,     on="year_month", how="outer")
)

panel_mensual = panel_mensual.fillna(0)

# Pasar year_month a string para visualizar más bonito
panel_mensual["year_month"] = panel_mensual["year_month"].astype(str)

panel_mensual = panel_mensual.sort_values("year_month").reset_index(drop=True)
panel_mensual

,year_month,ventas,margen,AR,AP,entradas,salidas,flujo_neto,DSO,DPO
0,2023-11,32448,10998,30410.0,24650.0,3808,1531.0,2277.0,-150.000000,-358.000000
1,2023-12,66236,20014,62491.0,67861.0,4102,1320.0,2782.0,-365.000000,-331.200000
2,2024-01,42849,5850,42534.0,56398.0,7122,4588.0,2534.0,-219.800000,-356.285714
3,2024-02,31630,2489,23746.0,33143.0,1275,6142.0,-4867.0,-523.000000,-252.000000
4,2024-03,17652,4738,12437.0,50689.0,6425,10607.0,-4182.0,-176.000000,-152.857143
5,2024-04,47179,15819,32932.0,82588.0,4909,3442.0,1467.0,-127.400000,-360.000000
6,2024-05,43253,-1638,39698.0,38792.0,579,9529.0,-8950.0,-351.000000,-136.166667
7,2024-06,25753,2774,20532.0,49856.0,6250,1578.0,4672.0,36.750000,-305.000000
8,2024-07,41630,6831,35095.0,26251.0,1341,9196.0,-7855.0,95.000000,-91.714286
9,2024-08,19939,-2119,13465.0,51166.0,1807,8384.0,-6577.0,-150.333333,-80.000000
10,2024-09,71329,18362,63981.0,25293.0,9206,4649.0,4557.0,-21.500000,3.400000
11,2024-10,51069,14820,45810.0,50455.0,8402,2486.0,5916.0,34.500000,148.000000
12,2024-11,47530,-2420,46218.0,48500.0,3633,7066.0,-3433.0,45.750000,-118.166667
13,2024-12,88979,33822,78721.0,21368.0,3737,4446.0,-709.0,78.333333,-147.000000
14,2025-01,43382,13439,33054.0,30919.0,2318,8160.0,-5842.0,13.200000,74.600000
15,2025-02,48419,16625,48419.0,24243.0,7309,1867.0,5442.0,-23.800000,180.000000
16,2025-03,60087,3827,53773.0,67534.0,5437,2445.0,2992.0,344.250000,-0.666667
17,2025-04,12170,2661,11751.0,51890.0,1513,7699.0,-6186.0,143.500000,273.800000
18,2025-05,21455,6032,19660.0,65672.0,6073,7107.0,-1034.0,198.750000,294.000000
19,2025-06,32178,16324,30587.0,60165.0,5485,2780.0,2705.0,129.333333,469.000000
20,2025-07,22322,4270,21047.0,53490.0,12485,12319.0,166.0,280.750000,183.222222
21,2025-08,40294,14046,33846.0,3816.0,12964,15317.0,-2353.0,419.200000,259.285714
22,2025-09,41821,-716,39437.0,23082.0,2858,3476.0,-618.0,300.250000,485.200000
23,2025-10,63253,30485,57188.0,84011.0,1640,4985.0,-3345.0,247.000000,431.800000
24,2025-11,14779,-1920,10643.0,1256.0,2456,0.0,2456.0,315.666667,0.000000